.form-table {
  // background-color: #f4f6f9;
  // height: 92vh;
  padding: 60px;

  .input-search {
    padding: 4px 8px;
    border-radius: 6px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  .table-estyle {
    background: white;
    padding: 36px;

    table {
      width: 100%;

      // tr:nth-child(even) {
      //   background-color: #f2f2f2;
      // }

      tr:hover {
        background-color: #ddd;
      }

      th {
        padding: 14px;
        border-bottom: 1px solid #f0f1f6;
        text-align: left;
        background-color: #f9fafc;
        color: black;
        font-weight: 500;
      }

      td {
        padding: 14px;
        border-bottom: 1px solid #f0f1f6;
      }

      img {
        border-radius: 50%;
        margin-right: 6px;
        width: auto;
        max-width: 54px;
        height: 100%;
      }

      tr {
        text-align: left;
        padding-left: 6px;
      }
    }

    tr td:last-child {
      width: 1%;
      white-space: nowrap;
    }
  }
}